/* ======================================
  WEBPAGE STRUCTURE STYLES
====================================== */
#canvas {
  width: 1440px;
  height: 787px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

html, body {
    width: 1440px;
    height: 787px;
    margin: 0 auto;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-family: 'D-DIN', sans-serif;

}

body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url("../assets/bg/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

/* ======================================
  SEARCH CONTAINER STYLES
====================================== */
#search-container {
    display: flex;
    height: 522px;
    width: 1002px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-container h1 {
    font-family: 'Disclaimer-Classic';
    font-size: 200px;
    font-style: normal;
    font-weight: 1;

    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

#search-container p {
    font-size: 25px;
    margin-top: -20px;
}

#decor-1 {
    position: absolute;
    transform: scale(0.8);
    top: 50px;
    left: 50px;
    z-index: 1;
}

#decor-2 {
    position: absolute;
    transform: scale(0.9);
    top: 500px;
    left: 1000px;
    z-index: 1;
}

#march7-bg{
    position: absolute;
    width: 734px;
    height: 649px;
    transform: translateY(30%);
}

/* ======================================
  SEARCH BAR STYLES
====================================== */
#search-bar {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
    border-radius: 99px;
    padding: 10px 20px;
    position: relative;
}

#search-bar form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    border: 0;
    outline: none;
    line-height: normal;
    text-align: left;
    padding-right: 15px;

}

#search-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-bar button img {
    height: 40px;
    width: 40px;
}

