/* ======================================
  WEBPAGE STRUCTURE STYLES
====================================== */
#canvas {
  width: 1440px;
  height: 787px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

html, body {
    width: 1440px;
    height: 787px;
    margin: 0 auto;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-family: 'D-DIN', sans-serif;

}

body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url("../assets/bg/location-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -1;
}

/* ======================================
  HEADING STYLES
====================================== */
.location-name {
  font-family: 'Disclaimer-Classic', sans-serif;
  font-weight: 1;
  text-align: center;
  font-size: 150px;
  margin-top: 100px;
  color: #FFF;
  z-index: 1;
}

.location-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 2;
}

.btn{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.left {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}




