/*
  Name: Prince Pamintuan
  Date: September 30, 2025
  Commit: Initial CSS and JS of Home Page (index.html)

  Commit:
  1. Added basic styles for body and navbar.
  2. Styled the search container to be centered with a white background and rounded corners.
  3. Added styles for a sidebar navigation (sidenav) with open and close functionality.
  */

/* Font Styles */
@font-face {
    font-family: 'D-DIN-Bold';
    src: url('../assets/fonts/D-DIN-Bold.woff2') format('woff2'),
         url('../assets/fonts/D-DIN-Bold.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'D-DIN-Italic';
    src: url('../assets/fonts/D-DIN-Italic.woff') format('woff'),
         url('../assets/fonts/D-DIN-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'D-DIN';
    src: url('../assets/fonts/D-DIN.woff') format('woff'),
         url('../assets/fonts/D-DIN.woff2') format('woff2')
}

@font-face {
    font-family: 'D-DINCondensed-Bold.woff';
    src: url('../assets/fonts/D-DINCondensed-Bold.woff') format('woff'),
         url('../assets/fonts/D-DIN.woff2') format('woff2');
}

@font-face {
    font-family: 'D-DINCondensed.';
    src: url('../assets/fonts/D-DINCondensed.woff') format('woff'),
         url('../assets/fonts/D-DINCondensed.woff2') format('woff2');
}

@font-face {
    font-family: 'D-DINExp-Bold';
    src: url('../assets/fonts/D-DINExp-Bold.woff') format('woff'),
         url('../assets/fonts/D-DINExp-Bold.woff') format('woff2')
}

@font-face {
    font-family: 'D-DINExp-Italic';
    src: url('../assets/fonts/D-DINExp-Italic.woff') format('woff'),
         url('../assets/fonts/D-DINExp-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'D-DINExp';
    src: url('../assets/fonts/D-DINExp.woff') format('woff'),
         url('../assets/fonts/D-DINExp.woff2') format('woff2');
}

@font-face {
    font-family: 'Disclaimer-Classic';
    src: url('../assets/fonts/Disclaimer-Classic.woff') format('woff'),
         url('../assets/fonts/Disclaimer-Classic.woff2') format('woff2');
        font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Placeholder */
html, body {
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-family: 'D-DIN', sans-serif;

}
body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url("../assets/bg/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'D-DIN-Bold';
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar h1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
}


#search-container {
    display: flex;
    height: 522px;
    width: 1002px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-container h1 {
    font-family: 'Disclaimer-Classic';
    font-size: 200px;
    font-style: normal;
    font-weight: 1;

    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

#search-container p {
    font-size: 25px;
    margin-top: 10px;
}

#search-bar {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
    border-radius: 99px;
    padding: 10px 20px;
    position: relative;
}

#search-bar form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    border: 0;
    outline: none;
    line-height: normal;
    text-align: left;
    padding-right: 15px;

}

#search-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-bar button img {
    height: 40px;
    width: 40px;
}

#menu-button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.hsr-logo {
    position: absolute;
    right: 20px;
    top: 50%;
    max-width: 120px;
    transform: translateY(-50%)
}

#march7-bg{
    position: fixed;
    width: 734px;
    height: 649px;
    transform: translateY(30%);
}