1. Background
2. Icons
3. Characters
4. Frame
5. Favicon


*Refer to the Figma Design, will refine this soon

Roadmap:
1. Characters and Lightcones Selection
2. Footer Design


3. Sidebar Menu Design
4. Character Layout Design
5. Lightcone Layout Page
6. Importing All Text Sources for Wikipedia