1. Background
2. Icons
3. Characters
4. Frame
5. Favicon


*Refer to the Figma Design, will refine this soon

Roadmap:
1. Characters and Lightcones Selection      - MINOR PRIORITY
2. Character Layout Design                  - PRIORITY
3. Lightcone Layout Page                    - PRIORITY
4. Importing All Text Sources for Wikipedia
5. Mobile and Tablet Viewport